<h1>Dealership</h1>
<h2>Search</h2>
    <form action='/results'>
        <label for='price'>Max price:</label>
        <input id='price' name='price' type='number'></input>
        <label for='miles'>Max mileage:</label>
        <input id='miles' name='miles' type='number'>

        <button type='submit'>Search</button>
    </form>
<p></p>
<p></p>
<h2>Add new car</h2>
    <form action='/addcar' method='post'>
        <label for='addmodel'>Model:</label>
        <input id='addmodel' name='addmodel' type='text'>
        <label for='addprice'>Price:</label>
        <input id='addprice' name='addprice' type='number'>
        <label for='addmiles'>Mileage:</label>
        <input id='addmiles' name='addmiles' type='number'>
        <label for='addimage'>Image URL:</label>
        <input id='addimage' name='addimage' type='text'>

        <button type='submit'>Add</button>
    </form>

    
