<h1>Dealership</h1>
<h2>Search</h2>
    <form action='/results'>
        <label for='price'>Max price:</label>
        <input id='price' name='price' type='number'></input>
        <label for='miles'>Max mileage:</label>
        <input id='miles' name='miles' type='number'>

        <button type='submit'>Search</button>
    </form>
